@use 'variaveis';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    text-align: center;
    position: fixed; /* Adicionado */
    top: 0; /* Posiciona o header no topo da janela */
    left: 0;
    right: 0;
    z-index: 1;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; /* Ocupar toda a largura disponível */
        max-width: 1200px; /* Defina um valor máximo para evitar que fique muito largo */
        margin: 0 auto; /* Centralizar horizontalmente */
        
    }

    &__logo {
        font-size: 28px;
        color: variaveis.$corPrincipal;
        letter-spacing: 20px;
        margin: 0;
        

        &:hover {
            transition: 2s;
            transform: tranlatex(50px);
            opacity: 0;
        }
    }

    &__link {
        display: inline-block; /* Alterado para inline-block para ficarem na mesma linha */
        vertical-align: middle; /* Alinhar verticalmente no centro */
        list-style: none;
        margin-left: 10px;

        &__nav {
            color: variaveis.$corPrincipal;
            text-decoration: none;
            margin-left: 10px;
            letter-spacing: 2px;
            flex: 1;
            text-align: center;
        }

        &__item {
            list-style: none;
            margin-left: 10px;

            &__img {
                max-width: 35px;
                margin-left: 80px;
                transition: transform 0.5s;

                &:hover {
                    animation: rotate-infinite 1s infinite;
                }

                @keyframes rotate-infinite {
                    0% {
                      transform: rotate(0deg); /* Define o início da animação */
                    }
                    100% {
                      transform: rotate(360deg); /* Define o fim da animação */
                    }
                }
                
            }   
        }
    }
}

@media (max-width: 600px) {
    .header {
        height: 80px;
        font-size: 15px;
        

        &__container {
            flex-wrap: wrap;
            max-width: 600px;    
            width: 100%;
        }

        &__logo{
            font-size: 24px;
            
        }

        &__link {
            display: block;
            &__item {
                &__img {
                    max-width: 25px;
                    margin-left: 40px;
                    width: 100%;
                }

            }
        }
    }
}

