@use 'variaveis';


.personagens {
    padding: 2vw 5.6vw;
    
    h1 {
        text-align: center;
        color: variaveis.$corPrincipal;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    

    &__list {
        padding: 0;
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        list-style: none;
        &--is-active {
            display: grid;
        }
        &__item {
            transition: transform 0.5s ease-in-out;

        &:hover {
            transform: scale(1.1);
            
        }
            padding: 0;
            img {
                
                max-width: 380px;
                width: 100%;
                height: 380px;
                
                border-radius: 5px;
                
            }

            &__text {
                color: variaveis.$corPrincipal;
                font-weight: bold;
                text-align: center;
                font-size: 18px;
                text-transform: uppercase;
                padding-bottom: 5px;
                
            }
        }
        

        
    }

    &__tabs {
        display:flex ;
        justify-content: center;

        &__button {
            background: none;
            color: variaveis.$corPrincipal;
            border: none;
            font-family: 'Ysabeau', sans-serif;
            font-size: 40px;
            margin-right: 50px;
            margin-bottom: 60px;
            cursor: pointer;
            
            padding-bottom: 6px;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.2);
                color: variaveis.$corSecundaria;
            }

            &--is-active {
                border-bottom: 1px solid variaveis.$corPrincipal;
                color: variaveis.$corSecundaria;
                font-size: 90px;
            }
        }
    }

    &__sobre {


        &__jonas{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__hanna{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__ulrich{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__magnus{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__francisca{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__mikkel{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__helge{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__Elisabeth{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__claudia{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        &__elisabeth{

            padding-top: 2vw;
        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: variaveis.$corPrincipal;

            &__img {
                border-radius: 5px;
            }


            &__text {
                padding: 40px;
                
            }
        }

        }

        
        
    }
}




