.sobre {
    padding: 5.6vw;
    justify-content: center;
    align-items: center;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        max-width: 1024px;
        border-radius: 9px;
        height: auto;
        opacity: 0;
        transform: translate(-50px, 0px);
        transition: .9s all ease;

        &__text {
            color: white;
            font-size: 1.5em;
            letter-spacing: 5px;
            // overflow: hidden;
            // border-right: 0.15em solid rgb(255, 255, 255);
            // animation: escrever 2s steps(40, end);

            &::after {
                content: '|';
                margin-left: 5px;
                opacity: 1;
                animation:  pisca .7s infinite;
            }
        }
    }

}

.animar {
    opacity: 1;
    transform: translate(0);
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

